name: Deploy to EC2

on:
  push:
    branches:
      - main  # or master (use your default branch)

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: SSH into EC2 and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd Pure_DS || git clone https://github.com/Shreetam12345/Pure_DS.git Pure_DS
            cd Pure_DS
            git pull origin main
            sudo docker-compose down
            sudo docker-compose up -d --build

